
  <div class = "espacio font">
      <h3> Jugadores </h3>
      <% @jugadores.each do |jugadore| %>
      <ul><%=jugadores.name%>
          <%=jugadores.id%></ul>
      <% end %>

      <h3> Contexturas </h3>
      <% @types.each do |types| %>
      <ul><%=types.name%>
          <%=types.id%>
      </ul>
      <% end %>

      <h3> Las contexturas de los jugadores </h3>
      <!--<% @joi.each do |jt| %>
      <ul><%=jt.jugadore_id%>
        <%=jt.type_id%>
      </ul>
      <% end -->
  </div>
